body{
  text-align: center;
  color: white;
  background-image: url("comp.code.png")

}
 h1{
 	text-align: center;
 	font-size: 3em;

 }

 nav ul li{
 	text-align: left;
 	display: inline;
 	


	
}





 
